.input-form{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.input{
    width: 90%;
    outline: none;
    border: 0;
}

.input-last{
    border-bottom: 1px solid #D3D8DD;
}

.inputs{
    width: 90%;
    outline: none;
    border: 0;
    border-bottom: 1px solid #D3D8DD;
}



