.nav-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 256px;
    height: 100%;
    padding: 20px;
    background-color: #fff;
}

.nav-menu svg {
    margin-right: 15px;
}

.nav-menu a {
    color: #000;
}

.nav-menu .nav-elem {
    padding-bottom: 20px;
}

.nav-menu .nav-elem:hover svg > path {
    stroke: #109CF1;
    fill: inherit;
}

.nav-menu .nav-elem:hover .orders > path {
    fill: #109CF1;
}

.nav-menu .nav-elem:hover a {
    color: #109CF1;
    text-decoration: none;
}

.nav-menu__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 42px;
}

.user-profile {
    margin-left: 10px;
}

.user-name {
    font-size: 16px;
    line-height: 21px;
}

.user-id {
    color: #90A0B7;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.01em;
}

.critery li {
    list-style: none;
    color: #90A0B7;
}

.critery {
    padding: 0;    
}

.user-rating {
    width: 100%;
}

.user-menu-large {
    padding-left: 10px;
}