.star-rating {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.star {
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin: 2.5px;
}

.star.selected svg{
    fill: #C2CFE0
}