.content {
    background: #F5F6F8;
    height: 100%

}
.container.custom-container {
    padding-top: 30px;
    padding-right: 47px;
    padding-left: 47px;
    height: 100%
}

.custom-row {
    background: #fff;
    margin-right: 0;
    margin-left: 0;
}

.custom-container .col-sm-3, .custom-container .col-sm.custom-col {
    padding-left: 15px;
    padding-right: 15px;
}

.custom-container .col-sm.col-without-pad {
    padding-left:0;
}

.custom-container .col-sm-3 {
    padding-right:0;
}

.col-content{
    margin-top: 35px;
    width: 100%;
}

.input-container{
    width: 95%;
    border-bottom: 1px solid #D3D8DD;
}

.edit-icon-container{
     float: right;
     outline: none;
     border: 0;
     position: relative;
 }

.edit-icon{
    position: absolute;
    bottom: 0;
    cursor: pointer;
}


.input-form{
    width: 100%;
    float: left;
}


.input{
    width: 90%;
    outline: none;
    border: 0;
}

.inputs{
    width: 90%;
    outline: none;
    border: 0;
    border-bottom: 1px solid #D3D8DD;
}

.main-profile{
    padding: 15px;
}

.save-button{
    width: 100%;
    height: 42px;
}